.studentsSliderWrapper .title{
    text-align: center;
    margin-bottom: 90px;
}
.studentsSliderWrapper .title p{
    color: #556172;
    font-weight: 600;
    line-height: 11px;
    font-size: 1.1rem;
}
.studentsSliderWrapper .slider button.slick-arrow{
    display: none !important;
}
.studentsSliderWrapper .title h2{
    position: relative;
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin-bottom: 30px;
    text-decoration: none;
    color: #0c2e60;
}
.studentsSliderWrapper .title h2::after {
    content: "";
    position: absolute;
    width: 5%;
    bottom: -15px;
    height: 2px;
    background-color: #ff663b;
    right: 50%;
    transform: translateX(50%);
}
.studentsSliderWrapper .slider .item{
    margin-bottom: 30px;
}
.studentsSliderWrapper .slider:hover{
    cursor: grab;
}
.studentsSliderWrapper .slider:active{
    cursor: grabbing;
}
.studentsSliderWrapper .slider .item .textStudent{
    margin-left: 30px;
    padding: 50px;
    background-color: #fff;
    box-shadow:  -12px 12px 24px #e2e2e2,
    0 -12px 24px #fefefe;
    position: relative;
    z-index: 1;
    margin-top: 15px;
    margin-right: 8px;
}
.studentsSliderWrapper .slider .item .textStudent p{
    line-height: 1.929;
    font-size: 1rem;
    margin-bottom: 0;
    color: #888 !important;
}
.studentsSliderWrapper .slider .item .textStudent h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
}

.studentsSliderWrapper .slider .item .textStudent h5 a{
    font-size: 15px;
    margin-top: 10px;
    color: #888 !important;
    text-decoration: none;
    transition: all 0.3s;
}
.studentsSliderWrapper .slider .item .textStudent h5 a:hover{
   color: cornflowerblue !important;
}
.studentsSliderWrapper .slider .slick-dots li button::before{
    font-size: 10px;
    transition: all 0.4s;
}
.studentsSliderWrapper .slider .slick-dots li.slick-active button::before{
    color: #ff663b;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .studentsSliderWrapper .title h2 {
        font-size: 35px;
    }
    .studentsSliderWrapper .title{
        margin-bottom: 70px;
    }
    .studentsSliderWrapper .title h2::after {
        width:8%;
        bottom: -10px;
    }
    .studentsSliderWrapper .title p{
        margin-bottom: 10px;
    }
    .studentsSliderWrapper .slider .item .textStudent{
        margin-left: 0;
        padding: 35px;
        margin-top: 25px;
        margin-right:5px;
    }
}
@media screen and (max-width: 992px) {
    .studentsSliderWrapper .title h2 {
        font-size: 32px;
    }
    .studentsSliderWrapper{
        padding-top: 60px;
    }
    .studentsSliderWrapper .title{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .studentsSliderWrapper{
        padding-top: 30px;
    }
    .studentsSliderWrapper .slider .item .textStudent{
        padding: 15px;
    }
    .studentsSliderWrapper .slider .item .textStudent p{
        line-height: 1.8;
        font-size: 0.89rem;
    }
    .studentsSliderWrapper .slider .item .textStudent h4{
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .studentsSliderWrapper .slider .item .textStudent h5 a{
        font-size: 13px;
    }
    .studentsSliderWrapper .slick-slider.slick-initialized{
        width: 95% !important;
    }
}
@media screen and (max-width: 576px) {
    .studentsSliderWrapper .slider .item .img{
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    .studentsSliderWrapper .title{
        margin-bottom: -20px;
    }
    .studentsSliderWrapper .title h2::after {
        width:14%;
        bottom: -10px;
    }
    .studentsSliderWrapper .slider .item .textStudent{
        box-shadow:none;
        padding: 5px;
    }
    .studentsSliderWrapper .slider .slick-dots li button::before{
        font-size: 8px;
    }
    .studentsSliderWrapper .slider .slick-dots li.slick-active button::before{
        font-size: 10px;
    }
    .studentsSliderWrapper .slider .item{
        margin-bottom: 18px;
    }

}
@media screen and (max-width: 568px) {
    .studentsSliderWrapper .title h2{
        font-size: 28px;
    }
}
@media screen and (max-width: 350px) {
    .studentsSliderWrapper .title h2{
        font-size: 23px;
        line-height: 2.3rem;
    }
    .studentsSliderWrapper .title h2::after {
        width: 20%;
        bottom: -12px;
    }
}