.specialCoursesWrapper .title {
    text-align: center;
    margin-bottom: 80px;
}

.specialCoursesWrapper .title h2 {
    position: relative;
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin-bottom: 30px;
    text-decoration: none;
    color: #0c2e60;
}

.specialCoursesWrapper .title p a {
    color: #556172;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    line-height: 11px;
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 1.1rem;
}

.specialCoursesWrapper .title h2::after {
    content: "";
    position: absolute;
    width: 5%;
    bottom: -15px;
    height: 2px;
    background-color: #ff663b;
    right: 50%;
    transform: translateX(50%);
}

body.dark-mode .specialCoursesWrapper .title p a{
    color: #fff;
}
@media screen and (max-width: 1200px) {
    .specialCoursesWrapper .title h2 {
        font-size: 35px;
    }

    .specialCoursesWrapper {
        padding-top: 60px
    }

    .specialCoursesWrapper .title {
        margin-bottom: 50px;
    }

    .specialCoursesWrapper .title h2 {
        margin-bottom: 20px;
    }

    .specialCoursesWrapper .title p a {
        margin-bottom: 0;
    }

    .specialCoursesWrapper .title h2::after {
        width: 10%;
        bottom: -12px;
    }
}

@media screen and (max-width: 992px) {
    .specialCoursesWrapper .title h2{
        font-size: 32px;
    }
    .specialCoursesWrapper .title p a {
        margin-bottom:-10px;
    }

    .specialCoursesWrapper .title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 568px) {
    .specialCoursesWrapper .title h2{
        font-size: 28px;
    }
}
@media screen and (max-width: 350px) {
    .specialCoursesWrapper .title h2{
        font-size: 23px;
        line-height: 2.3rem;
    }
    .specialCoursesWrapper .title h2::after {
        width: 20%;
        bottom: -12px;
    }
}
