body.dark-mode .homePageTitleWrapper .title .titleBox p{
    color: #dedede;
}
body.dark-mode .homePageTitleWrapper .titleBox .buttons button.start{
    background: #525252 !important;
    border: 1px solid #ffffff;
}
body.dark-mode .homePageTitleWrapper .titleBox .buttons  a button.start span{
    color: #ffffff !important;
}
body.dark-mode .homePageTitleWrapper .titleBox .buttons button.start:hover{
    background: linear-gradient(to right, #ee390f 0%, #f9b700 50%, #ee390f 100%) !important;
    background-size: 200% auto !important;
    background-position: right !important;
    border: 1px solid #fff;
}
body.dark-mode .homePageTitleWrapper .titleBox .buttons  a button.start:hover span{
    color: #fff !important;
}